<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container"routerLink="/home" class="brand-logo">
            <img src="/assets/img/logo.png" height="70">
        </a>

        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a routerLink="/home">Home</a></li>
            <li><a routerLink="/login">Login</a></li>
        </ul>

        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>