                    <div class="col-md-8">
                      <div class="posts-content default-blog">

                        <article class="post-wrapper">

                          <div class="thumb-wrapper">
                            <img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="" >

                            <div class="entry-header">
                            

                              <h2 class="entry-title"><a href="#">CTC to showcase technology solutions at Sea Air Space Exposition</a></h2>

                            </div><!-- .entry-header -->

                            <div class="author-thumb waves-effect waves-light">
                              <a href="#"><img src="assets/img/blog/author.jpg" alt=""></a>                
                            </div>

                            <span class="post-comments-number">
                              <i class="fa fa-comments"></i><a href="#">25</a>
                            </span>

                          </div><!-- .post-thumb -->


                          <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                          </div><!-- .entry-content -->

                        </article><!-- /.post-wrapper -->


                        <article class="post-wrapper format-video">

                          <div class="thumb-wrapper">
                            <img src="assets/img/blog/blog-2.jpg" class="img-responsive" alt="" >

                            <a class="external-link popup-video" href="https://www.youtube.com/watch?v=A1CoJKju-YI" title=""><i class="fa fa-play"></i></a>

                            <div class="entry-header">
                              <span class="posted-in">
                                <a href="#">Video Review</a>
                              </span>

                              <h2 class="entry-title"><a href="#">Master the psychology of web design</a></h2>

                            </div><!-- .entry-header -->

                            <div class="author-thumb waves-effect waves-light">
                              <a href="#"><img src="assets/img/blog/author.jpg" alt=""></a>                
                            </div>

                            <span class="post-comments-number">
                              <i class="fa fa-comments"></i><a href="#">25</a>
                            </span>

                          </div><!-- .post-thumb -->


                          <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                          </div><!-- .entry-content -->

                        </article><!-- /.post-wrapper -->


                        <article class="post-wrapper format-quote">

                          <div class="thumb-wrapper">


                            <blockquote>
                              <p>A shopping cart flipped upside down forms a cage that I use to protect myself from consumerism</p>
                              <footer>Jarod Kintz</footer>
                            </blockquote>

                            <div class="author-thumb waves-effect waves-light">
                              <a href="#"><img src="assets/img/blog/author.jpg" alt=""></a>                
                            </div>
                            
                            <span class="post-comments-number">
                              <i class="fa fa-comments"></i><a href="#">25</a>
                            </span>

                          </div><!-- .post-thumb -->


                          <div class="entry-content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                          </div><!-- .entry-content -->

                        </article><!-- /.post-wrapper -->

                        <ul class="pagination post-pagination text-center mt-50">
                          <li><a href="#." class="waves-effect waves-light"><i class="fa fa-angle-left"></i></a></li>
                          <li><span class="current waves-effect waves-light">1</span></li>
                          <li><a href="#." class="waves-effect waves-light">2</a></li>
                          <li><a href="#." class="waves-effect waves-light"><i class="fa fa-angle-right"></i></a></li>
                        </ul>

                      </div><!-- /.posts-content -->
                    </div><!-- /.col-md-8 -->