                    <div class="col-md-8">
                             <section class="section-padding gray-bg">
        

                <div class="login-wrapper">
                  <div class="card-wrapper"></div>
                  <div class="card-wrapper">
                    <h1 class="title">Login</h1>
                    <form>
                      <div class="input-container">
                        <input type="text" id="username" required="required" autocomplete="off" />
                        <label for="username">Username</label>
                        <div class="bar"></div>
                      </div>
                      <div class="input-container">
                        <input type="password" id="password" required="required" autocomplete="off" />
                        <label for="password">Password</label>
                        <div class="bar"></div>
                      </div>
                      <div class="button-container">
                        <a href="#." class="btn btn-lg btn-block waves-effect waves-light">Login</a>
                      </div>
                      <div class="footer"><a href="#">Forgot your password?</a></div>
                    </form>
                  </div>
                  <div class="card-wrapper alt">
                    <div class="toggle toggle_login"></div>
                    <h1 class="title">Register
                      <div class="close close_reg"></div>
                    </h1>
                    <form>
                      <div class="input-container">
                        <input type="text" id="newusername" required="required" autocomplete="off" />
                        <label for="newusername">Username</label>
                        <div class="bar"></div>
                      </div>
                      <div class="input-container">
                        <input type="password" id="newpassword" required="required" autocomplete="off" />
                        <label for="newpassword">Password</label>
                        <div class="bar"></div>
                      </div>
                      <div class="input-container">
                        <input type="password" id="repeat-password" required="required" autocomplete="off" />
                        <label for="repeat-password">Repeat Password</label>
                        <div class="bar"></div>
                      </div>
                      <div class="button-container">
                        <a href="#." class="btn btn-lg btn-block white waves-effect waves-red">Registar</a>
                      </div>
                    </form>
                  </div>
              

            </div>
        </section>
                    </div><!-- /.col-md-8 -->

